.impact-header h2 {
  color: var(--header-color);
  text-align: center;
}

.impact-header p,
.map-guide p {
  color: var(--text-color);
  text-align: left;
}

.map-card-title,
.map-card-value {
  color: var(--header-color);
}

.map-card-story,
.map-card-label {
  color: var(--text-color);
}

@media (max-width: 480px) {
  .impact-header h2 {
    font-size: 25px;
    line-height: 38px;
  }
  .impact-header p {
    font-size: 18px;
    line-height: 30px;
  }
  .map-guide p,
  .map-card-story {
    font-size: 16px;
    line-height: 26px;
  }
  .map-card-value {
    font-size: 24px;
    line-height: 32px;
  }
  .map-card-title,
  .map-card-label {
    font-size: 20px;
    line-height: 30px;
  } 
  .map-card-action-btn{
    font-size: 18px; 
    line-height: 30px;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .impact-header h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .impact-header p,
  .map-guide p {
    font-size: 18px;
    line-height: 30px;
  } 
  .map-card-title{
    font-size: 25px; 
    line-height: 38px;
  } 
  .map-card-label{
    font-size: 20px; 
    line-height: 30px;
  } 
  .map-card-value{
    font-size: 28px; 
    line-height: 36px;
  }
  .map-card-story{
    font-size: 18px; 
    line-height: 30px;
  } 
  .map-card-action-btn{
    font-size: 18px; 
    line-height: 30px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .impact-header h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .impact-header p,
  .map-guide p {
    font-size: 18px;
    line-height: 30px;
  } 
  .map-card-title {
    font-size: 25px; 
    line-height: 38px;
  } 
  .map-card-story{
    font-size: 18px; 
    line-height: 30px;
  } 
  .map-card-label{
    font-size: 20px; 
    line-height: 30px; 
  } 
  .map-card-value{
    font-size: 28px; 
    line-height: 36px;
  }  
  .map-card-action-btn{
    font-size: 18px; 
    line-height: 30px;
  }
}

@media (min-width: 1401px) {
  .impact-header h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .impact-header p,
  .map-guide p {
    font-size: 24px;
    line-height: 38px;
  } 
   .map-card-title {
    font-size: 25px; 
    line-height: 38px;
  } 
  .map-card-story{
    font-size: 18px; 
    line-height: 30px;
  } 
  .map-card-label{
    font-size: 20px; 
    line-height: 30px; 
  } 
  .map-card-value{
    font-size: 28px; 
    line-height: 36px;
  }  
  .map-card-action-btn{
    font-size: 18px; 
    line-height: 30px;
  }
}
