.action-tag {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--header-color);
}

.action-close-link {
  color: var(--text-color);
  white-space: nowrap;
  font-weight: 600;
}

.action-subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color);
}

.action-label {
  text-transform: uppercase;
  color: rgba(33, 33, 33, 0.7);
  letter-spacing: 2px;
}

.action-fact,
.action-scale-live-manifesto {
  color: var(--text-color);
  text-align: left;
}

.action-scale-numeric-input {
  text-align: left;
  color: var(--header-color);
}

.action-scale-numeric-input-unit {
  color: var(--text-color);
  text-transform: uppercase;
  white-space: nowrap;
}

.action-scale-max-hint {
  color: rgba(33, 33, 33, 0.8);
}

.action-btn-submit {
  color: var(--white);
}

.top-bar-left-indicator {
  color: var(--primary-green);
}

.cert-action-btn {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  white-space: nowrap;
}

.certificate-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--header-color);
}

.certificate-meta {
  color: var(--primary-green);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.guardian-celebrated-name {
  text-transform: capitalize;
  color: var(--text-color);
}

@media (max-width: 480px) {
  .action-tag {
    font-size: 28px;
    line-height: 36px;
  }
  .action-label,
  .top-bar-left-indicator,
  .certificate-title,
  .guardian-celebrated-name {
    font-size: 24px;
    line-height: 32px;
  }
  .action-subtitle,
  .certificate-meta {
    font-size: 18px;
    line-height: 24px;
  }
  .action-close-link,
  .action-fact,
  .action-scale-max-hint,
  .action-scale-live-manifesto,
  .action-btn-submit,
  .cert-action-btn {
    font-size: 16px;
    line-height: 26px;
  }
  .action-scale-numeric-input {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (min-width: 481px) and (max-width: 2600px) {
  .action-tag {
    font-size: 38px;
    line-height: 50px;
  }
  .action-label,
  .top-bar-left-indicator,
  .certificate-title,
  .guardian-celebrated-name {
    font-size: 28px;
    line-height: 36px;
  }
  .action-subtitle,
  .certificate-meta {
    font-size: 18px;
    line-height: 24px;
  }
  .action-close-link,
  .action-fact,
  .action-scale-max-hint,
  .action-scale-live-manifesto,
  .action-btn-submit,
  .cert-action-btn {
    font-size: 16px;
    line-height: 26px;
  }
  .action-scale-numeric-input {
    font-size: 38px;
    line-height: 50px;
  } 
  
}
