.support-main-title,
.support-card-question {
  color: var(--header-color);
}

.support-main-title {
  text-align: center;
}

.support-text,
.support-card-answer {
  color: var(--text-color);
  text-align: left;
}

@media (max-width: 480px) {
  .support-main-title {
    font-size: 25px;
    line-height: 38px;
  }
  .support-text,
  .support-card-answer {
    font-size: 18px;
    line-height: 30px;
  }
  .support-card-question {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 481px) and (max-width:1200px) {
  .support-main-title {
    font-size: 30px;
    line-height: 45px;
  }
  .support-text,
  .support-card-answer {
    font-size: 18px;
    line-height: 30px;
  }
  .support-card-question {
    font-size: 25px;
    line-height: 38px;
  }
}

@media (min-width: 1201px) and (max-width:1400px) {
  .support-main-title {
    font-size: 30px;
    line-height: 45px;
  }
  .support-text{
    font-size: 20px; 
    line-height: 32px;
  }
  .support-card-answer {
    font-size: 18px;
    line-height: 30px;
  }
  .support-card-question {
    font-size: 25px;
    line-height: 38px;
  }
} 

@media (min-width: 1401px) and (max-width:2600px) {
  .support-main-title {
    font-size: 40px;
    line-height: 60px;
  }
  .support-text,
  .support-card-answer {
    font-size: 22px;
    line-height: 35px;
  }
  .support-card-question {
    font-size: 30px;
    line-height: 45px;
  }
}
