.hero-title {
  color: var(--header-color);
}

.hero-subtitle {
  color: var(--text-color);
}

.hero-btn {
  background-color: var(--primary-green);
  border: 2px solid var(--btn-border-color);
  box-shadow: 0 4px 20px rgba(24, 72, 35, 0.6);
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  color: var(--white);
}

.hero-btn:hover {
  background-color: #1f5c2d;
  border: 2px solid #a3f0b0;
  box-shadow: 0 0 15px rgba(163, 240, 176, 0.4);
  color: var(--white);
  cursor: pointer;
}

.hero-btn.active,
.hero-btn:focus {
  background-color: #0b3511;
  border: 2px solid var(--btn-border-color);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  transform: scale(0.98);
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  height: auto;

  background-image: url("../../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: stretch;

  padding-top: 160px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.hero-container {
  width: calc(100% - 48px);
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  box-sizing: border-box;
}

.hero-text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.floating-badges {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  height: auto;
  margin-top: 30px;
}

.badge {
  display: flex;
  align-items: center;
}

.badge span.text {
  padding: 0px 16px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: var(--header-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.badge span.icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.badge-1 {
  align-self: flex-start;
}
.badge-2 {
  align-self: flex-end;
}
.badge-3 {
  align-self: flex-start;
}

.badge-1 .text,
.badge-1 .icon,
.badge-3 .text,
.badge-3 .icon {
  background-color: #cee5ff;
}

.badge-2 .text,
.badge-2 .icon {
  background-color: #efd6f3;
}

.floating-badges {
  width: 100%;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.hero-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  width: 100%;
  margin-top: auto;
}

.hero-mini-card {
  background: linear-gradient(
    to right,
    rgba(11, 53, 17, 0.4) 0%,
    rgba(213, 199, 142, 0.4) 100%
  );
  border: 1px solid #fffbf8;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 22px;
}

.user-avatars {
  display: flex;
}
.user-avatars img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.user-avatars img.overlap {
  margin-left: -20px;
}

.card-text {
  color: var(--white);
  font-weight: 600;
}

@media (max-width: 376px) {
  .hero-mini-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.hero-cta {
  width: 100%;
  display: flex;
}

.hero-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  border-radius: 80px;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

@media (max-height: 600px) {
  .hero-section {
    padding-top: 150px;
  }
  .hero-container {
    justify-content: flex-start;
    gap: 24px;
  }
  .hero-bottom-row {
    margin-top: 20px;
  }
}

@media (min-width: 598px) {
  .hero-section {
    padding-top: 160px;
  }
  .hero-top-row {
    width: 100%;
    height: auto;
  }
  .hero-text-block {
    width: 90%;
  }
  .hero-text-block p {
    width: 80%;
  }
  .floating-badges {
    position: absolute;
    top: 360px;
    right: 24px;
    width: 300px;
    margin: 0;
  }
  .hero-bottom-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .hero-mini-card {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 700px) {
  .hero-section {
    min-height: 840px;
    padding-top: 140px;
  }
  .hero-container {
    width: calc(100% - 128px);
    padding-top: 40px;
  }
  .hero-text-block {
    width: 70%;
  }
  .hero-text-block p {
    width: 65%;
  }
  .floating-badges {
    position: absolute;
    top: 440px;
    right: 64px;
    width: 320px;
  }
  .badge span.text {
    height: 44px;
  }
  .badge span.icon {
    width: 44px;
    height: 44px;
  }
  .badge span.icon svg {
    width: 24px;
    height: 24px;
  }

  .hero-mini-card {
    flex-direction: column;
    align-items: center;
  }
  .hero-cta {
    justify-content: flex-end;
  }
  .hero-btn {
    padding: 16px 55px;
    max-width: 300px;
  }
}

@media (min-width: 1027px) {
  .hero-section {
    padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    min-height: 100dvh;
    padding-top: 70px;
  }
  .hero-container {
    width: calc(100% - 160px);
  }
  .hero-text-block {
    width: 80%;
  }
  .hero-text-block p {
    width: 80%;
  }
  .floating-badges {
    position: absolute;
    top: 320px;
    right: 80px;
    width: 430px;
  }
  .hero-mini-card {
    flex-direction: row;
    gap: 24px;
    padding: 24px;
  }
  .user-avatars img {
    width: 52px;
    height: 52px;
  }
  .hero-btn {
    padding: 16px 75px;
    max-width: 341px;
  }
}

@media (min-width: 1400px) {
  .hero-section {
    padding-top: 160px;
  }
  .hero-container {
    width: calc(100% - 200px);
  }
  .floating-badges {
    top: 450px;
    right: 80px;
  }
  .hero-bottom-row {
    width: 100%;
  }
}

@media (min-width: 1512px) {
  .hero-section {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .hero-container {
    width: calc(100% - 200px);
    max-width: 1400px;
    gap: 100px;
    margin: 0 auto;
  }
  .floating-badges {
    top: 500px;
    right: 100px;
  }
  .hero-bottom-row {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .hero-section {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .hero-container {
    width: calc(100% - 200px);
    max-width: 1400px;
    gap: 100px;
    margin: 0 auto;
  }
  .floating-badges {
    top: 500px;
    right: 250px;
  }
  .hero-bottom-row {
    width: 100%;
  }
}
