.contact-page{
    position: relative;
  width: 100%;
  min-height: 400px;
  height: auto;
/*
  background-image: url("../../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: var(--white);

  padding-top: 160px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.contact-container {
  width: calc(100% - 48px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px; 
  border:1px solid red;
}

.contact-text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media (min-width:481px) and (max-width:1200px){
    .contact-container{
        width:calc(100% - 128px); 
        margin: 0 auto; 
    }
} 

@media (min-width:1201px) and (max-width:1400px){
    .contact-container{
        width:calc(100% - 160px); 
        margin: 0 auto; 
    }
} 

@media (min-width:1401px) and (max-width:2600px){
    .contact-container{
        width:calc(100% - 200px); 
        margin: 0 auto; 
    }
}