.brand-description {
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--text-color);
  font-family: var(--font-family-2);
}
.group-title {
  letter-spacing: 0.4px;
  font-weight: 500;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--font-family-2);
}

.footer-copyright {
  letter-spacing: 0.4px;
  font-weight: 500;
  color: var(--text-color);
  font-family: var(--font-family-2);
}

.group-link {
  letter-spacing: 0.4px;
  font-weight: 700;
  color: var(--header-color);
  font-family: var(--font-family-2);
  text-decoration: none;
}

.brand-description,
.group-title {
  font-size: 18px;
  line-height: 30px;
}
.group-link {
  font-size: 20px;
  line-height: 30px;
}
.footer-copyright {
  font-size: 20px;
  line-height: 32px;
}
