body {
  font-family: 'Inter', sans-serif;
  background: #f9fafc;
  margin: 0;
  padding: 0;
  color: #222; 
  box-sizing: border-box; 
  width:100%; 
  height:100%;
} 

.content{
  margin:0 auto; 
  width:100%; 
  height:auto; 
}