:root{
  --font-family-1:"Cormorant Garamond", serif; 
  --font-family-2:"Manrope", sans-serif;
} 

.fonts-header{
  letter-spacing:0.4px; 
  font-weight:700; 
  font-family: var(--font-family-1);
}

.fonts-h6{
  font-size:24px; 
  line-height: 32px; 
} 

.fonts-h5{
  font-size:28px; 
  line-height: 36px; 
} 

.fonts-h4{
  font-size:38px; 
  line-height: 50px; 
} 

.fonts-h3{
  font-size:50px; 
  line-height: 65px; 
} 

.fonts-h2{
  font-size:70px; 
  line-height: 80px; 
} 

.fonts-h1{
  font-size:90px; 
  line-height: 100px; 
}

.fonts-body{
  letter-spacing: 0.4px; 
  font-weight: 500; 
  font-family: var(--font-family-2);
}  

.fonts-p5{
  font-size:16px; 
  line-height: 26px;
} 

.fonts-p4{
  font-size:18px; 
  line-height: 30px;
} 

.fonts-p3{
  font-size:20px; 
  line-height: 32px;
} 

.fonts-p2{
  font-size:22px; 
  line-height: 35px;
} 

.fonts-p1{
  font-size:24px; 
  line-height: 38px;
}