.m-header, .m-head {
  color: var(--header-color);
}

.m-body {
  color: var(--text-color);
}

@media (max-width: 480px) {
  .m-header {
    font-size: 25px;
    line-height: 38px;
  }
  .m-text {
    font-size: 18px;
    line-height: 30px;
  }
  .metric-value {
    font-size: 28px;
    line-height: 36px;
  }
  .metric-label {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .m-header {
    font-size: 30px;
    line-height: 45px;
  }
  .m-text {
    font-size: 18px;
    line-height: 30px;
  }
  .metric-value {
    font-size: 38px;
    line-height: 50px;
  }
  .metric-label {
    font-size: 18px;
    line-height: 30px;
  }
} 

@media (min-width:1201px) and (max-width:1400px){
   .m-header {
    font-size: 30px;
    line-height: 45px;
  }
  .m-text {
    font-size: 18px;
    line-height: 30px;
  }
  .metric-value {
    font-size: 50px;
    line-height: 65px;
  }
  .metric-label {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 1401px) {
  .m-header {
    font-size: 40px;
    line-height: 60px;
  }
  .m-text {
    font-size: 24px;
    line-height: 38px;
  }
  .metric-value {
    font-size: 50px;
    line-height: 65px;
  }
  .metric-label {
    font-size: 24px;
    line-height: 38px;
  }
}
