.m-header {
  letter-spacing: 0.4px;
  font-weight: 700;
  font-family: var(--font-family-2);
  color: var(--header-color);
}
.m-head {
  letter-spacing: 0.4px;
  font-weight: 700;
  font-family: var(--font-family-1);
  color: var(--header-color);
}

.m-body {
  letter-spacing: 0.4px;
  font-weight: 500;
  font-family: var(--font-family-2);
  color: var(--text-color);
}

@media (max-width: 480px) {
  .m-header {
    font-size: 30px;
    line-height: 45px;
  }
  .m-text {
    font-size: 18px;
    line-height: 30px;
  }
  .metric-value {
    font-size: 28px;
    line-height: 36px;
  }
  .metric-label {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 481px) and (max-width: 1400px) {
  .m-header {
    font-size: 40px;
    line-height: 60px;
  }
  .m-text {
    font-size: 20px;
    line-height: 32px;
  }
  .metric-value {
    font-size: 38px;
    line-height: 50px;
  }
  .metric-label {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1401px) {
  .m-header {
    font-size: 48px;
    line-height: 72px;
  }
  .m-text {
    font-size: 22px;
    line-height: 35px;
  }
  .metric-value {
    font-size: 50px;
    line-height: 65px;
  }
  .metric-label {
    font-size: 20px;
    line-height: 32px;
  }
}
