.reinforce-title{
    color:var(--header-color);
} 

.reinforce-text{ 
    color:var(--text-color);
} 

.reinforce-btn{
    letter-spacing: 0.4px; 
    font-weight: 600; 
    color:var(--white); 
    font-family: var(--font-family-2);
} 

@media (max-width:480px){ 
    .reinforce-title{
        font-size: 38px; 
        line-height: 50px; 
        text-align: left;
    }
    .reinforce-text, .reinforce-btn{
        font-size: 18px; 
        line-height: 30px;
    }
} 

@media (min-width:481px) and (max-width:1200px){
    .reinforce-title{
        font-size: 50px; 
        line-height: 65px; 
        text-align: center;
    } 
    .reinforce-text{
        font-size: 20px; 
        line-height: 32px;
    } 
    .reinforce-btn{
        font-size: 18px; 
        line-height: 30px;
    }
} 

@media (min-width:1201px) and (max-width:1400px){
    .reinforce-title{
        font-size: 50px; 
        line-height: 65px; 
        text-align: left;
    } 
    .reinforce-text{
        font-size: 20px; 
        line-height: 32px;
    } 
    .reinforce-btn{
        font-size: 18px; 
        line-height: 30px;
    }
} 

@media (min-width:1401px) and (max-width:2600px){
    .reinforce-title{
        font-size: 70px; 
        line-height: 80px;
    } 
    .reinforce-text{
        font-size: 24px; 
        line-height: 38px;
    } 
    .reinforce-btn{
        font-size: 20px; 
        line-height: 32px;
    }
}